#### Excercise2:
Define a fraction number with numerator=123 and denominator=456, print out the fraction number in format a/b and the quotient with 8 digits after decimal point.
Sample output: "123/456 = 0.269737"

In [1]:
numerator = 123
denominator = 456

# code up your solution below

print('123/456={:.8f}'.format(123/456))

123/456=0.26973684

Print out every other character of the string "Data Science" using string slicing.

In [2]:
data = 'Data Scicence'
print(data[::2])

Dt ccne

The string regex_wiki contains the second paragraph of regular expression introduction in Wikipedia. Modify the string with all lower case and no space.

In [8]:
regex_wiki = """The concept arose in the 1950s when the American mathematician Stephen Cole Kleene formalized 
the description of a regular language. The concept came into common use with Unix text-processing utilities. 
Different syntaxes for writing regular expressions have existed since the 1980s, one being the POSIX standard 
and another, widely used, being the Perl syntax."""

# code up your solution below and print to check answer
print((regex_wiki.lower()).replace(' ',''))

theconceptaroseinthe1950swhentheamericanmathematicianstephencolekleeneformalized
thedescriptionofaregularlanguage.theconceptcameintocommonusewithunixtext-processingutilities.
differentsyntaxesforwritingregularexpressionshaveexistedsincethe1980s,onebeingtheposixstandard
andanother,widelyused,beingtheperlsyntax.

Replace all data with <3 in the following string. Use a string method to check data is not in the new string.

In [14]:
data_science = """Data science continues to evolve as one of the most promising and in-demand career paths for 
skilled professionals. Today, successful data professionals understand that they must advance past the traditional 
skills of analyzing large amounts of data, data mining, and programming skills. In order to uncover useful 
intelligence for their organizations, data scientists must master the full spectrum of the data science life cycle 
and possess a level of flexibility and understanding to maximize returns at each phase of the process."""

# code up your solution below
data_science = data_science.lower()
new_data_science = data_science.replace('data','<3')
print(new_data_science)
'data' in new_data_science

<3 science continues to evolve as one of the most promising and in-demand career paths for
skilled professionals. today, successful <3 professionals understand that they must advance past the traditional
skills of analyzing large amounts of <3, <3 mining, and programming skills. in order to uncover useful
intelligence for their organizations, <3 scientists must master the full spectrum of the <3 science life cycle
and possess a level of flexibility and understanding to maximize returns at each phase of the process.

False

(Bonus Challenge): if you are familiar with string manipulation and regex, use python's regular expression re module to replace the first a in all data in the paragraph above, and keep the original case for the word.

In [16]:
import re
# code up your solution here
data_science = """Data science continues to evolve as one of the most promising and in-demand career paths for 
skilled professionals. Today, successful data professionals understand that they must advance past the traditional 
skills of analyzing large amounts of data, data mining, and programming skills. In order to uncover useful 
intelligence for their organizations, data scientists must master the full spectrum of the data science life cycle 
and possess a level of flexibility and understanding to maximize returns at each phase of the process."""


aaa = 'DATA Data DaTA dATA dota daTa'
re.sub(r'(?<=(?i)d)(a)(?=(?i)ta )', '<3', aaa)

'D<3TA D<3ta D<3TA d<3TA dota daTa'

### Exercise 3.
Write a program flow which will assign grade by the test scores using the following conditions:

If score >= 90, grade="A"
If 80 >= score >90, grade="B"
If 70 >= score >80, grade="C"
If 60 >= score >70, grade="D"
IF score < 60, grade="F"

In [18]:
# code up your solution here
score = 55


if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'
    
print(grade)

F

x=1, y=1, write a flow to assign messge to different value base on different criteria as below, and in the end print out the message:

a. If x less than y, messge="x is less than y"

b. If x larger than y, messge="x is greater than y"

c. If x equal to y, messge="x is the same as y"

In [22]:
x = 6
y = 6

if x < y:
    print('x is less than y')
elif x > y:
    print('x is greater than y')
else:
    print('x is equal to y')

x is equal to y

### Exercise 4.
4.The Fibonacci Sequence is the series of numbers: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ...
The next number is found by adding up the two numbers before it. Find the last element of the fibolist

In [48]:
fibolist=[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811]
print(fibolist)
# code your solution here
len(fibolist)
fibolist[28]+fibolist[27]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811]

514229

5.Calculate the sum of fibolist

In [46]:
sum(fibolist)

832039

6.Calculate and append the next fibonacci number to fibolist.

In [47]:
fibolist.append(fibolist[28]+fibolist[27])
fibolist

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229]

7.Create a reversed copy of fibolist without permanently reversing fibolist liteslf.

In [49]:
fibo_reverse = fibolist[::-1]
print(fibo_reverse)

[317811, 196418, 121393, 75025, 46368, 28657, 17711, 10946, 6765, 4181, 2584, 1597, 987, 610, 377, 233, 144, 89, 55, 34, 21, 13, 8, 5, 3, 2, 1, 1, 0]

8.Check if 29473 is a fibonacci number, and assign the anser to variable fibo_29473

In [51]:
fibo_29473 = 29473 in fibolist
print(fibo_29473)

False

9.Create two sets. Calculate the union, intersection, difference and symmetric difference for the two sets.

In [61]:
a = set('bjslab')
b = set('jib')
a|b
a&b

{'b', 'j'}